@import 'tailwindcss';

body {
  background-color: #f9fafc;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #2563ea;
}

@media only screen and (max-width: 640) {
  .title{
    font-size: 32px;
  }
}

.navContent {
  color: #293042;
  font-family: 16px;
  font-weight: 400;
}
