@import 'tailwindcss';

body {
  background-color: #f9fafc;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #2563ea;
}

.navContent {
  color: #293042;
  font-family: 16px;
  font-weight: 400;
}
